---
import Hr from './Hr.astro';
import Link from './Link.astro';
import Socials from './Socials.astro';
import { Icon } from 'astro-icon/components';

const currentYear = new Date().getFullYear();
---

<footer class='mx-auto w-full max-w-app'>
  <Hr noPadding={true} />
  <div
    class='flex flex-col items-center justify-between gap-4 py-8 sm:flex-row sm:gap-6'
  >
    <div class='flex items-center gap-4'>
      <Socials centered />
      <Link
        href='/rss.xml'
        class='opacity-75 transition-opacity hover:opacity-100'
        ariaLabel='RSS Feed'
        title='Subscribe via RSS'
      >
        <Icon name='tabler:rss' />
      </Link>
    </div>

    <div
      class='flex flex-col items-center gap-1 text-center text-sm sm:flex-row sm:gap-2'
    >
      <span class='text-foreground-muted'>
        &copy; {currentYear} All rights reserved
      </span>
    </div>
  </div>
</footer>
