---
interface Props {
  size: number;
  textSize: number;
}

const { size, textSize } = Astro.props;
---

<div
  class='logo flex size-14 items-center justify-center bg-foreground-primary font-mono font-extrabold tracking-tight text-primary select-none'
  style={`width: ${size}rem; height: ${size}rem; font-size: ${textSize}rem;`}
  aria-label='Logo'
>
  /
</div>

<style>
  .logo {
    border-radius: 32px;
  }

  @supports (corner-shape: squircle) {
    .logo {
      corner-shape: squircle;
    }
  }
</style>
