---
import { SHARE_LINKS } from '@/site.config';
import Link from './Link.astro';
import { Icon } from 'astro-icon/components';

const URL = Astro.url;
---

{
  SHARE_LINKS.length > 0 && (
    <div class='flex flex-none flex-col items-center justify-center gap-1 md:items-start'>
      <span class='italic'>Share this post on:</span>
      <div class='text-center'>
        {SHARE_LINKS.map(social => (
          <Link
            href={`${social.href + URL}`}
            class='p-2 opacity-75 transition-opacity hover:opacity-100 sm:p-1'
            title={social.linkTitle}
          >
            <Icon
              name={social.icon}
              class='inline-block opacity-90'
              size='1.2rem'
            />
            <span class='sr-only'>{social.linkTitle}</span>
          </Link>
        ))}
      </div>
    </div>
  )
}
