---
import { Icon } from 'astro-icon/components';
---

<button id='theme-toggle' aria-label='auto'>
  <Icon
    name='tabler:bulb-filled'
    class='theme-icon-dark hidden rotate-180 dark:block'
    size='1.2rem'
  />
  <Icon
    name='tabler:bulb'
    class='theme-icon-light rotate-180 dark:hidden'
    size='1.2rem'
  />
</button>
